Repository voxpupuli/puppet-minecraft, pull requests merged in 2024-02, with the labels that each got.

#83 modulesync 7.3.0
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .sync.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#93 remove obsolete wget fixture
  .fixtures.yml
Labels: skip-changelog

#86 Add Puppet 8 support
  metadata.json
Labels: enhancement

#85 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement
